In [79]:
import numpy as np
import pandas as pd

In [80]:
dict1={
    'FirstName':pd.Series(['Sanjeev','Yuvaraj','Shreya','Gope','Ramya']),
    'NickName':pd.Series(['Rajabeta','YuviDon','ChubuChubu','Chintu','RamuKaka']),
    'Age':pd.Series([23,27,24,25,35]),
    'Sex':pd.Series(['Male','Male','Female','Female','Female']),
    'City':pd.Series(['Hyderbad','Chennai','Maharastra','Patanahi','NotFromEarth']),
    'Phone':pd.Series([10,20,30,40,100])
}
print dict1

{'City': 0        Hyderbad
1         Chennai
2      Maharastra
3        Patanahi
4    NotFromEarth
dtype: object, 'FirstName': 0    Sanjeev
1    Yuvaraj
2     Shreya
3       Gope
4      Ramya
dtype: object, 'Age': 0    23
1    27
2    24
3    25
4    35
dtype: int64, 'Sex': 0      Male
1      Male
2    Female
3    Female
4    Female
dtype: object, 'Phone': 0     10
1     20
2     30
3     40
4    100
dtype: int64, 'NickName': 0      Rajabeta
1       YuviDon
2    ChubuChubu
3        Chintu
4      RamuKaka
dtype: object}

In [81]:
df=pd.DataFrame(dict1)
print df
print '\n\n',df.shape
print 'Column Headers - ',df.columns
print 'Particular Column\n', df['Phone']
print 'Nick Name: \n ',df['FirstName']+df['NickName']
#Add Column in DataFrame
df['Fullname']=df['FirstName']+df['NickName']

print df

   Age          City FirstName    NickName  Phone     Sex
0   23      Hyderbad   Sanjeev    Rajabeta     10    Male
1   27       Chennai   Yuvaraj     YuviDon     20    Male
2   24    Maharastra    Shreya  ChubuChubu     30  Female
3   25      Patanahi      Gope      Chintu     40  Female
4   35  NotFromEarth     Ramya    RamuKaka    100  Female


(5, 6)
Column Headers -  Index([u'Age', u'City', u'FirstName', u'NickName', u'Phone', u'Sex'], dtype='object')
Particular Column
0     10
1     20
2     30
3     40
4    100
Name: Phone, dtype: int64
Nick Name:
  0     SanjeevRajabeta
1      YuvarajYuviDon
2    ShreyaChubuChubu
3          GopeChintu
4       RamyaRamuKaka
dtype: object
   Age          City FirstName    NickName  Phone     Sex          Fullname
0   23      Hyderbad   Sanjeev    Rajabeta     10    Male   SanjeevRajabeta
1   27       Chennai   Yuvaraj     YuviDon     20    Male    YuvarajYuviDon
2   24    Maharastra    Shreya  ChubuChubu     30  Female  ShreyaChubuChubu
3   25      Patanahi      Gope      Chintu     40  Female        GopeChintu
4   35  NotFromEarth     Ramya    RamuKaka    100  Female     RamyaRamuKaka

In [82]:
#Differnet ways to add columns to Data Frame
df['Salary']=round(np.random.random(),2)*df['Age']*5000

sal = df['Salary']>25000
sal1 = df[df['Salary']<25000]
print df

   Age          City FirstName    NickName  Phone     Sex          Fullname  \
0   23      Hyderbad   Sanjeev    Rajabeta     10    Male   SanjeevRajabeta
1   27       Chennai   Yuvaraj     YuviDon     20    Male    YuvarajYuviDon
2   24    Maharastra    Shreya  ChubuChubu     30  Female  ShreyaChubuChubu
3   25      Patanahi      Gope      Chintu     40  Female        GopeChintu
4   35  NotFromEarth     Ramya    RamuKaka    100  Female     RamyaRamuKaka

     Salary
0   79350.0
1   93150.0
2   82800.0
3   86250.0
4  120750.0

In [110]:
#Read-Write data from files..
data=pd.read_csv('NSE-WIPRO.csv')
#print 'Type of data - ',type(data)
#print 'Content \n',data
#print data.describe()
#print len(data)
#print data.head()
#print data.tail()
#print data.index
#print data.columns
#print data.shape
#Rename
#print data
#print data.columns
data.rename(columns={"Hello":"Last"},inplace=True)
print data.columns
data.drop(["Close"],axis=1)

data.max()
data.min()
#df=pd.read_csv('NSE-Wipro.csv',parse_dates=['Date'])

Index([u'Date', u'Open', u'High', u'Low', u'Last', u'Close',
       u'Total Trade Quantity', u'Turnover (Lacs)'],
      dtype='object')

Date                    1998-03-20
Open                         201.3
High                        204.95
Low                          180.4
Last                           200
Close                        200.9
Total Trade Quantity           150
Turnover (Lacs)               2.31
dtype: object